/*
=========================================
app/styles/base
=========================================
*/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:active,
a:hover {
  outline-width: 0;
}
