# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.editorconfig
.eslintcache
.dockerignore
.git
.gitignore
.sass-cache
.nodemon-find-ref
.*cache
**/*.DS_Store
**/*.env*
**/*.md
**/*.swp
docker-compose.yml
Dockerfile
npm-debug.log
/build
/node_modules
