/*
=========================================
app/pages/Example
=========================================
*/

#example-page {
  text-align: center;

  & .navigation a {
    display: block;
  }

  & .example-content {
    margin: 40px 0 0;
  }
}
